<h2>Create New Event</h2>
<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Event Name:</label>
    <input id="name" type="text" formControlName="name" required>
  </div>
  <div>
    <label for="dateTime">Date and Time:</label>
    <input id="dateTime" type="datetime-local" formControlName="dateTime" required>
  </div>
  <div>
    <label for="location">Location:</label>
    <input id="location" type="text" formControlName="location" required>
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description" required></textarea>
  </div>
  <button type="submit" [disabled]="!eventForm.valid">Create Event</button>
</form>
