<h2>Tableau de bord utilisateur</h2>
<div class="container">
  <nav class="vertical-navbar">
    <a *ngFor="let link of navLinks" (click)="changeView(link.view)">
      <span>{{ link.icon }}</span>
      <span class="vertical-text">{{ link.label }}</span>
    </a>
  </nav>

  <div class="content">
    <div *ngIf="currentView === 'profile'">
      <mat-card>
        <h3>Mon Profil</h3>
        <div *ngIf="userInfo">
          <p>Nom d'utilisateur : {{ userInfo.username }}</p>
          <p>Email : {{ userInfo.email }}</p>
          <p>Rôle : {{ userInfo.role }}</p>
          <h4>Mettre à jour les informations</h4>
          <form (ngSubmit)="updateUser()">
            <mat-form-field>
              <mat-label>Nom d'utilisateur</mat-label>
              <input matInput [(ngModel)]="updatedUserInfo.username" name="username" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="updatedUserInfo.email" name="email" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Mettre à jour</button>
          </form>
        </div>
      </mat-card>
    </div>

    <div *ngIf="currentView === 'events'">
      <mat-card>
        <h3>Mes Événements</h3>
        <table mat-table [dataSource]="events" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let event"> {{event.name}} </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let event"> {{event.date | date:'dd/MM/yyyy HH:mm'}} </td>
          </ng-container>
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Lieu </th>
            <td mat-cell *matCellDef="let event"> {{event.location}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let event"> {{event.description}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let event">
              <button mat-button color="primary" (click)="viewEventDetails(event)">Voir Détails</button>
              <button mat-button color="accent" (click)="bookEvent(event.id)">Réserver</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['name', 'date', 'location', 'description', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name', 'date', 'location', 'description', 'actions'];"></tr>
        </table>
      </mat-card>
    </div>

    <div *ngIf="currentView === 'search'">
      <mat-card>
        <h3>Recherche d'Événements</h3>
        <form (ngSubmit)="searchEvents()">
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [(ngModel)]="date" name="date" type="date">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Lieu</mat-label>
            <input matInput [(ngModel)]="location" name="location">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Mot-clé</mat-label>
            <input matInput [(ngModel)]="keyword" name="keyword">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Rechercher</button>
        </form>
        <table mat-table [dataSource]="events" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let event"> {{event.name}} </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let event"> {{event.date | date:'dd/MM/yyyy HH:mm'}} </td>
          </ng-container>
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Lieu </th>
            <td mat-cell *matCellDef="let event"> {{event.location}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let event"> {{event.description}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let event">
              <button mat-button color="primary" (click)="viewEventDetails(event)">Voir Détails</button>
              <button mat-button color="accent" (click)="bookEvent(event.id)">Réserver</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['name', 'date', 'location', 'description', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name', 'date', 'location', 'description', 'actions'];"></tr>
        </table>
      </mat-card>
    </div>

    <!-- user-dashboard.component.html -->
    <div *ngIf="currentView === 'contacts'" class="contact-form">
      <h2>Manage Contacts</h2>
      <form (ngSubmit)="createContact()">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="newContact.name" name="name" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="newContact.email" name="email" required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Subject</mat-label>
          <input matInput [(ngModel)]="newContact.subject" name="subject" required>
          <mat-icon matSuffix>subject</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Message</mat-label>
          <textarea matInput [(ngModel)]="newContact.message" name="message" required></textarea>
          <mat-icon matSuffix>message</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Create Contact</button>
      </form>
    </div>


    <div *ngIf="currentView === 'reservations'">
      <mat-card>
        <h3>Mes Réservations</h3>
        <table mat-table [dataSource]="reservations" class="mat-elevation-z8">
          <ng-container matColumnDef="eventName">
            <th mat-header-cell *matHeaderCellDef> Événement </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.event.name}} </td>
          </ng-container>
          <ng-container matColumnDef="numberOfTickets">
            <th mat-header-cell *matHeaderCellDef> Nombre de Billets </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.numberOfTickets}} </td>
          </ng-container>
          <ng-container matColumnDef="reservationDate">
            <th mat-header-cell *matHeaderCellDef> Date de Réservation </th>
            <td mat-cell *matCellDef="let reservation"> {{reservation.lastUpdated | date:'dd/MM/yyyy HH:mm' }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['eventName', 'numberOfTickets', 'reservationDate']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['eventName', 'numberOfTickets', 'reservationDate'];"></tr>
        </table>
      </mat-card>
    </div>

    <div *ngIf="showReservationForm">
      <mat-card>
        <h3>Réserver un événement</h3>
        <form (ngSubmit)="reserveEvent()">
          <mat-form-field>
            <mat-label>Nombre de Billets</mat-label>
            <input matInput [(ngModel)]="numberOfTickets" name="numberOfTickets" type="number" required>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Réserver</button>
          <button mat-button color="warn" (click)="cancelReservation()">Annuler</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
