<div *ngIf="currentView === 'contacts'" class="container my-4">
  <h2 class="text-center mb-4">Manage Contacts</h2>
  <form (ngSubmit)="createContact()" class="mb-4">
    <div class="mb-3">
      <input [(ngModel)]="newContact.name" name="name" class="form-control" placeholder="Name" required>
    </div>
    <div class="mb-3">
      <input [(ngModel)]="newContact.email" name="email" class="form-control" placeholder="Email" required>
    </div>
    <div class="mb-3">
      <input [(ngModel)]="newContact.subject" name="subject" class="form-control" placeholder="Subject" required>
    </div>
    <div class="mb-3">
      <textarea [(ngModel)]="newContact.message" name="message" class="form-control" placeholder="Message" required></textarea>
    </div>
    <button type="submit" class="btn btn-warning w-100">Create Contact</button>
  </form>

  <div *ngFor="let contact of contacts" class="card mb-3 shadow-sm">
    <div class="card-body">
      <h3 class="card-title">{{ contact.name }}</h3>
      <p class="card-text">{{ contact.email }}</p>
      <p class="card-text">{{ contact.subject }}</p>
      <p class="card-text">{{ contact.message }}</p>
      <p class="card-text"><strong>Status: </strong>{{ contact.status }}</p>
      <div class="d-flex justify-content-between">
        <div>
          <button class="btn btn-outline-primary btn-sm me-2" (click)="updateContactStatus(contact, contactStatuses.NEW)">New</button>
          <button class="btn btn-outline-primary btn-sm me-2" (click)="updateContactStatus(contact, contactStatuses.IN_PROGRESS)">In Progress</button>
          <button class="btn btn-outline-primary btn-sm me-2" (click)="updateContactStatus(contact, contactStatuses.PROCESSED)">Processed</button>
          <button class="btn btn-outline-primary btn-sm" (click)="updateContactStatus(contact, contactStatuses.RESOLVED)">Resolved</button>
        </div>
        <button class="btn btn-danger btn-sm" (click)="deleteContact(contact.id)"><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
</div>
