<div class="event-list container mt-5">
  <h2 class="text-center mb-4">Liste des Événements</h2>
  <ul class="list-group">
    <li *ngFor="let event of events" class="list-group-item d-flex justify-content-between align-items-center mb-3">
      <div class="event-info">
        <h3 class="event-name">{{ event.name }}</h3>
        <p><strong>Date:</strong> {{ event.dateTime }}</p>
        <p><strong>Location:</strong> {{ event.location }}</p>
      </div>
      <div class="event-actions">
        <button (click)="deleteEvent(event.id)" class="btn btn-danger btn-sm mr-2">
          <i class="fas fa-trash-alt"></i> Supprimer
        </button>
        <a [routerLink]="['/events', event.id]" class="btn btn-primary btn-sm">
          <i class="fas fa-info-circle"></i> Détails
        </a>
      </div>
    </li>
  </ul>
</div>
