body {
  background-color: #f8f9fa; /* Light background color */
}

.card {
  border: 1px solid #ffc107; /* Yellow border */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
h2 {
  color: #b8860b; /* Gold color */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #ff9800; /* Orange title color */
}

.list-group-item {
  background-color: #fff3cd; /* Beige background color */
  border-radius: 5px;
  border: 1px solid #b8860b; /* Gold border */
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #fff3cd; /* Light yellow hover effect */
}

.btn-primary {
  background-color: #ff9800; /* Orange button color */
  border-color: #ff9800;
}

.btn-danger {
  background-color: rgba(255, 87, 34, 0.8); /* Red-orange button color */
  border-color: #ff5722;
}

.table th {
  background-color: #ffebcd; /* Beige background color */
  color: #000; /* Black text color */
}

.table tbody tr:hover {
  background-color: #fff3cd; /* Light yellow hover effect */
}

.btn-warning {
  background-color: #ffc107; /* Yellow button color */
  border-color: #ffc107;
}

.navbar {
  background-color: #ffc107; /* Yellow navbar */
}

.footer {
  background-color: #ffc107; /* Yellow footer */
  color: #fff; /* White text color */
}
