<p>admin-dashboard works!</p>
<div *ngFor="let event of events">
  <h4>{{ event.name }}</h4>
  <p>Date: {{ event.date | date:'dd/MM/yyyy HH:mm' }}</p>
  <p>Lieu: {{ event.location }}</p>
  <a [routerLink]="['/event', event.id]">Voir les détails</a>
  <button (click)="deleteEvent(event.id)">Delete</button>
</div>
<h2>Informations de l'administrateur</h2>
<div *ngIf="userInfo">
  <p>Nom d'utilisateur : {{ userInfo.username }}</p>
  <p>Email : {{ userInfo.email }}</p>
  <p>Rôle : {{ userInfo.role }}</p>
  <button (click)="updateUser(userInfo)">Modifier</button>
</div>
<a [routerLink]="['/create-event']">Create New Event</a>
<h2>Gestion des utilisateurs</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nom d'utilisateur</th>
    <th>Email</th>
    <th>Rôle</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.role }}</td>
    <td>

      <button (click)="deleteUser(user.id)">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>

